.container {
  padding-top: 24px;
  padding-left: 156px;
  padding-right: 156px;
}
ul.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.gallery-item {
  gap: 24px;
  margin-bottom: 24px;
}

.gallery-image {
  width: 360px;
  height: auto;
  display: block;
}
